body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.linki{
    width: 376px;
    height: 56px;
    border-radius: 8px;    
    background-color: rgba(36, 39, 66, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}
.container{
    width: 504px;
    height: 520px;
    border-radius: 36px;    
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.Main{
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    width: 376px;
    height: 100px;    
}
.content{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left; 
    width: 376px;
    height: 72px;       
}
.cheki{
    width: 64px;
    height: 64px;
    top: 38px;
    left: 62px;
    position: absolute;
}
.qvelinki{
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: white;
    
}